@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    margin: 30px;
    font-family: 'Ubuntu', sans-serif;
    background: #957DAD;
}

.grid-container{
    background: #FFDFD3;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-container > div {
    background: #E0BBE4;
    text-align: center;
    padding: 40px;
    border: 1px solid #957DAD ;
}


